<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<h1>Person更新</h1>

<form action="/person/update/do" method="post">
    <p>更新するidを選択し、各情報も更新してください。</p>
    <label for="id">id(半角整数)：</label>
    <select id="id" name="id" required>
        <option th:each="person : ${persons}" th:value="${person.id}" th:text="'　　' + ${person.id}"></option>
    </select>

    <label for="name">名前：</label>
    <input type="text" id="name" name="name" required>

    <label for="age">年齢(半角整数)：</label>
    <input type="number" id="age" name="age" required>

    <label for="gender">性別：</label>
    <select id="gender" name="gender" required>
        <option value="男">男性</option>
        <option value="女">女性</option>
    </select>

    <label for="occupation">職業：</label>
    <input type="text" id="occupation" name="occupation" required>

    <button type="submit">更新</button>
</form>

<form action="/person/list" method="get" style="margin-top: 10px;">
    <button type="submit">一覧に戻る</button>
</form>
</body>
</html>